body {
  background-color: #fcfbf4;
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  margin-bottom: 30px;
}
h1, h2, h3, p {
color: #313131;
margin: 0px;
}
ul{
margin: 0px;
padding: 0px;
list-style: none;
}
li {
list-style: none;
}
img{
border-radius: 5px;
max-width: 100%;
display: block;
}
html {
scroll-behavior: smooth;
}

